@model TbItem;


@{
    ViewData["Title"] = "Edit Items";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">ITEMS</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/Items/List">List Items</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Items</li>
            </ol>
        </nav>
    </div>
    <form class="forms-sample" method="post" enctype="multipart/form-data"
          asp-controller="Items" asp-action="Save" role="form">

        <div class="row">

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Eidt</h4>
                        <hr />

                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                        <input asp-for="ItemId" type="hidden" />
                        <input asp-for="CreatedBy" type="hidden" />
                        <input asp-for="CreatedDate" type="hidden" />
                        <input asp-for="CurrentState" type="hidden" />
                        <input asp-for="ImageName" type="hidden" />

                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblItemName</label>
                            <input asp-for="ItemName" type="text" class="form-control" placeholder="@ResAdmin.lblItemName">
                            <span class="text-danger" asp-validation-for="ItemName"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId" for="exampleInputUsername1">@ResAdmin.lblCategoryName</label>
                            <select style="color:mediumpurple" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.listCategories,"CategoryId","CategoryName"))" class="form-control">
                                <option></option>
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblItemType</label>
                            <select style="color:mediumpurple" class="form-control" asp-for="ItemTypeId" asp-items="@(new SelectList(ViewBag.lstItemTypes,"ItemTypeId","ItemTypeName"))"></select>
                            <span class="text-danger" asp-validation-for="ItemTypeId"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblOs</label>
                            <select style="color:mediumpurple" class="form-control" asp-for="OsId" asp-items="@(new SelectList(ViewBag.lstOs,"OsId","OsName"))"></select>
                            <span class="text-danger" class="text-danger" asp-validation-for="OsId"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblSalesPrice</label>
                            <input asp-for="SalesPrice" type="text" class="form-control" placeholder="@ResAdmin.lblSalesPrice">
                            <span class="text-danger" asp-validation-for="SalesPrice"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblPurchasePrice</label>
                            <input asp-for="PurchasePrice" type="text" class="form-control" placeholder="@ResAdmin.lblPurchasePrice">
                            <span class="text-danger" asp-validation-for="PurchasePrice"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblWeight</label>
                            <input asp-for="Weight" type="text" class="form-control" placeholder="@ResAdmin.lblWeight">
                            <span class="text-danger" class="label-danger" asp-validation-for="Weight"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">
                                @ResAdmin.lblImage
                            </label>
                            <input asp-for="ImageName" type="file" name="Files" multiple
                                   class="form-control" placeholder="@ResAdmin.lblImage"
                                   onchange="Upload.UploadDefaultImg(event)" accept=".jpg, .jpeg, .png, ,.gif">

                        </div>

                        <button type="submit" formmethod="post" class="btn btn-gradient-primary me-2">@ResGeneral.lblSave</button>
                        <a href="~/admin" class="btn btn-light">@ResGeneral.lblBackHome</a>

                    </div>
                </div>
            </div>

            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Main Data</h4>
                        <p class="card-description"> Basic form layout </p>

                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblGpu</label>
                            <input asp-for="Gpu" type="text" class="form-control" placeholder="@ResAdmin.lblGpu">
                            <span class="text-danger" class="label-danger" asp-validation-for="Gpu"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblProcessor</label>
                            <input asp-for="Processor" type="text" class="form-control" placeholder="@ResAdmin.lblProcessor">
                            <span class="text-danger" class="label-danger" asp-validation-for="Processor"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblHardDisk</label>
                            <input asp-for="HardDisk" type="text" class="form-control" placeholder="@ResAdmin.lblHardDisk">
                            <span class="text-danger" class="label-danger" asp-validation-for="HardDisk"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblRamSize</label>
                            <input asp-for="RamSize" type="number" class="form-control" placeholder="@ResAdmin.lblRamSize">
                            <span class="text-danger" class="label-danger" asp-validation-for="RamSize"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblScreenReslution</label>
                            <input asp-for="ScreenReslution" type="text" class="form-control" placeholder="@ResAdmin.lblScreenReslution">
                            <span class="text-danger" class="label-danger" asp-validation-for="ScreenReslution"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblScreenSize</label>
                            <input asp-for="ScreenSize" type="text" class="form-control" placeholder="@ResAdmin.lblScreenSize">
                            <span class="text-danger" class="label-danger" asp-validation-for="ScreenSize"></span>
                        </div>
                        <span class="text-danger" id="tbImgName"></span>
                        <div id="tbImgSrc">
                            <img src="/Uploads/Items/@Model.ImageName" style="width:95%;" />
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        var Upload = {
            UploadDefaultImg: function (e) {
                const file = e.target.files[0];
                const reader = new FileReader();
                reader.onloadend = () => {
                    CourseMediaImgName = file.name;
                    CourseMediaImgBase64 = reader.result.slice(reader.result.indexOf('base64,') + 7);
                    $("#tbImgName").html(file.name)
                    $("#tbImgSrc").html(`<img class="thumbnail" src = "${reader.result}"  style = "width: 300px;;border-radius: 5px;border: 1px solid #d9d9d9;padding: 1px;" />`)
                };
                reader.readAsDataURL(file);
            }
        }
    </script>
}

