@inject UserManager<ApplicationUser> _userManager
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Admin Panel</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Admin/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Admin/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Admin/css/demo_4/style.css">
    <!-- End layout styles -->
    <link rel="icon" href="~/FrontEnd/images/Logo2.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/FrontEnd/images/Logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        .management-button {
            background-color: #6ee7b7; /* لون الخلفية للزر */
            color: #fff; /* لون النص */
            padding: 10px 20px; /* المسافة الداخلية للزر */
            border-radius: 8px; /* استدارة الزوايا */
            font-size: 16px; /* حجم الخط */
            font-weight: bold; /* نمط الخط */
            text-align: center; /* توسيط النص */
            cursor: pointer; /* شكل المؤشر */
            transition: all 0.3s ease; /* تأثير الانتقال عند التمرير */
        }

            .management-button:hover {
                background-color: #4ade80; /* تغيير لون الخلفية عند التمرير */
            }

    </style>
    @RenderSection("Styles", false)
</head>
<body>
    @{
        var item = ViewData["LayoutViewModel"] as VmLayout;
    }
    <div class="container-scroller">
        <!-- partial:partials/_horizontal-navbar.html -->
        <div class="horizontal-menu">
            <nav class="navbar top-navbar col-lg-12 col-12 p-0">
                <div class="container">
                    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                        <a class="navbar-brand brand-logo" href="/admin/Home/Index">
                            <img src="~/FrontEnd/images/Logo/@item.LogoUrl" alt="logo" style="width:auto;height:67px;" />
                        </a>
                        <a class="navbar-brand brand-logo-mini" href="index.html">
                            <img src="~/Admin/images/logo-mini.svg" alt="logo" />
                        </a>
                    </div>
                    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                        <ul class="navbar-nav mr-lg-2">
                            <li class="nav-item nav-search d-none d-lg-block">
                                <div class="input-group">
                                    <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                        <span class="input-group-text" id="search">
                                            <i class="mdi mdi-magnify"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" id="navbar-search-input" placeholder="Search projects" aria-label="search" aria-describedby="search">
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav navbar-nav-right">
                            <li class="nav-item nav-profile dropdown">
                                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="nav-profile-img">
                                        <img src="~/Admin/images/faces/face1.jpg" alt="image">
                                        <span class="availability-status online"></span>
                                    </div>
                                    <div class="nav-profile-text">
                                        @{
                                            var user = await _userManager.GetUserAsync(User);
                                            <p class="text-light">@user.UserName</p>
                                        }
                                    </div>

                                </a>
                                <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                                    <a class="dropdown-item" href="~/">
                                        <i class="mdi mdi-cached me-2 text-success"></i> Back To LapShop
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/User/LoginOut">
                                        <i class="mdi mdi-logout me-2 text-primary">LoginOut</i>
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item d-none d-lg-flex full-screen-link">
                                <a class="nav-link">
                                    <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-email-outline"></i>
                                    <span class="count-symbol bg-warning"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                                    <h6 class="p-3 mb-0">Messages</h6>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <img src="~/Admin/images/faces/face4.jpg" alt="image" class="profile-pic">
                                        </div>
                                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                            <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Mark send you a message</h6>
                                            <p class="text-gray mb-0"> 1 Minutes ago </p>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <img src="~/Admin/images/faces/face2.jpg" alt="image" class="profile-pic">
                                        </div>
                                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                            <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Cregh send you a message</h6>
                                            <p class="text-gray mb-0"> 15 Minutes ago </p>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <img src="~/Admin/images/faces/face3.jpg" alt="image" class="profile-pic">
                                        </div>
                                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                            <h6 class="preview-subject ellipsis mb-1 font-weight-normal">Profile picture updated</h6>
                                            <p class="text-gray mb-0"> 18 Minutes ago </p>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <h6 class="p-3 mb-0 text-center">4 new messages</h6>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                                    <i class="mdi mdi-bell-outline"></i>
                                    <span class="count-symbol bg-danger"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                                    <h6 class="p-3 mb-0">Notifications</h6>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-success">
                                                <i class="mdi mdi-calendar"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                            <h6 class="preview-subject font-weight-normal mb-1">Event today</h6>
                                            <p class="text-gray ellipsis mb-0"> Just a reminder that you have an event today </p>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-warning">
                                                <i class="mdi mdi-cog"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                            <h6 class="preview-subject font-weight-normal mb-1">Settings</h6>
                                            <p class="text-gray ellipsis mb-0"> Update dashboard </p>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-info">
                                                <i class="mdi mdi-link-variant"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                                            <h6 class="preview-subject font-weight-normal mb-1">Launch Admin</h6>
                                            <p class="text-gray ellipsis mb-0"> New admin wow! </p>
                                        </div>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <h6 class="p-3 mb-0 text-center">See all notifications</h6>
                                </div>
                            </li>
                            <li class="nav-item nav-logout d-none d-lg-flex">
                                <a class="nav-link" href="#">
                                    <i class="mdi mdi-power"></i>
                                </a>
                            </li>
                            <li class="nav-item nav-settings d-none d-lg-flex">
                                <a class="nav-link" href="#">
                                    <i class="mdi mdi-format-line-spacing"></i>
                                </a>
                            </li>
                        </ul>
                        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                            <span class="mdi mdi-menu"></span>
                        </button>
                    </div>
                </div>
            </nav>
            <nav class="bottom-navbar">
                <div class="container">
                    <ul class="nav page-navigation">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/Home/">
                                <i class="mdi mdi-home menu-icon"></i>
                                <span class="menu-title">Home</span>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="/admin/Categories/List">
                                <i class="mdi mdi-arrange-bring-forward"></i>
                                <span class="menu-title"> Categories</span>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="/admin/Items/List">
                                <i class="mdi mdi-shopping menu-icon"></i>
                                <span class="menu-title">Items</span>

                            </a>
                        </li>
                        @*/page owner/*@
                        @if (User.IsInRole("Owner"))
                        {
                            <li class="nav-item dropdown d-none d-lg-block">
                                <a class="nav-link btn create-new-button management-button" id="createbuttonDropdown" data-bs-toggle="dropdown" aria-expanded="false" href="#">+ Management</a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                                    <div class="dropdown-divider"></div>
                                    <a href="/admin/Settings/Website" class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-dark rounded-circle">
                                                <i class="mdi mdi-file-outline text-primary"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content">
                                            <p class="preview-subject ellipsis mb-1">Settings Website</p>
                                        </div>
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a href="/admin/Members" class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-dark rounded-circle">
                                                <i class="mdi mdi-web text-info"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content">
                                            <p class="preview-subject ellipsis mb-1">Settings Roles</p>
                                        </div>
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <p class="p-3 mb-0 text-center">See all projects</p>
                                </div>
                            </li>
                        }

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="mdi mdi-settings menu-icon"></i>
                                <span class="menu-title">Apps</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="submenu">
                                <ul class="submenu-item">
                                    <li class="nav-item mdi mdi-account-circle"><a class="nav-link" href="/admin/Settings/Profile">Profile</a></li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">

                <!-- content-wrapper strat -->
                @RenderBody()
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container">
                        
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright : @item.Copyright &copy;.</span>
                            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
                        </div>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Admin/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Admin/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Admin/js/off-canvas.js"></script>
    <script src="~/Admin/js/hoverable-collapse.js"></script>
    <script src="~/Admin/js/misc.js"></script>
    <script src="~/Admin/js/settings.js"></script>
    <script src="~/Admin/js/todolist.js"></script>
    <script src="~/Admin/js/jquery.cookie.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/Admin/js/dashboard.js"></script>
    <!-- End custom js for this page -->
    @RenderSection("Scripts", false)
</body>
</html>