@model TbCategory
@{
    ViewData["Title"] = "Edit Categories";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">CATEGORIES</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/Categories/List">List Categories</a></li>
                <li class="breadcrumb-item active" aria-current="page">Edit Categories</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit</h4>
                    <hr />
                    <form class="forms-sample" method="post" enctype="multipart/form-data"
                          asp-controller="Categories" asp-action="Save" role="form">

                     

                        <input type="hidden" asp-for="CategoryId" />
                        <input type="hidden" asp-for="CreatedBy" />
                        <input type="hidden" asp-for="CreatedDate" />
                        <input type="hidden" asp-for="ImageName" />
                        <input type="hidden" asp-for="ShowInHomePage"/>

                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">@ResAdmin.lblCategoryName</label>
                            <input asp-for="CategoryName" type="text" class="form-control" placeholder="@ResAdmin.lblCategoryName">
                            <span class="text-danger" asp-validation-for="CategoryName"></span>
                        </div>

                          <div class="form-group">
                        <label for="exampleInputUsername1">@ResAdmin.lblShowHomePage</label>
                        <input asp-for="ShowInHomePage" type="checkbox" checked="@Model.ShowInHomePage" />
                        </div> 

                        <div class="form-group"> 
                            <label for="exampleInputUsername1"> @ResAdmin.lblImage </label>
                            <input asp-for="ImageName" type="file" name="Files"
                                   class="form-control" placeholder="@ResAdmin.lblImage"
                                   id="uploadedImage" onchange="previewImage(event)" />
                        </div>

                        <button type="submit" formmethod="post" class="btn btn-gradient-primary me-2">@ResGeneral.lblSave</button>
                        <a href="~/admin" class="btn btn-light">@ResGeneral.lblBackHome</a>
                        
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <span id="tbImgName"></span>
                    <div id="tbImgSrc">
                        <img id="imagePreview" src="~/Uploads/Categories/@Model.ImageName" style="width:95%; height300px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script type="text/javascript">
        function previewImage(event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('imagePreview');
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
}
